<div class="container" id="connect">
    <div class="row pt-5">
        <div class="col ">
            <div class="cards">
                <div>
                    <a href="https://www.facebook.com/profile.php?id=100082838667430">Facebook</a>
                    <img src="https://cdn-icons-png.flaticon.com/512/1384/1384053.png" style="width: 30px" alt="face">
                </div>
                <div>
                    <a href="techaliens1230@gmail.com">Gmail</a>
                    <img src="https://cdn-icons-png.flaticon.com/512/2504/2504727.png" style="width: 30px" alt="gmail">
                </div>
                <div>
                    <a href="#">01098797449</a>
                    <img src="https://cdn-icons-png.flaticon.com/512/724/724664.png" style="width: 30px" alt="Connect">
                </div>
                <div>
                    <a href="#">01094138191</a>
                    <img src="https://cdn-icons-png.flaticon.com/512/2504/2504957.png" style="width: 30px" alt="whatsapp">
                </div>
            </div>
        </div>
        <div class="col">
            <form>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">الايميل</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">الموضوع</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">الرسالة</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <button>ارسال الايميل</button>
                </div>
            </form>
        </div>
    </div>
</div>
